:root {
    color-scheme: light;
}

body {
    font-family: system-ui;
    text-align: center;
}

.content-view {
    width: 200px;
    background: white;
    margin: 20px 10px 10px 10px;
    border-radius: 6px;
    border: 1px solid #E1E1E1;
}

#qrcode {
    width: cals("100% - 20px");
    height: cals("100% - 20px");;
    margin: 10px;
}

.input-text {
    width: 180px;
    height: 60px;
    padding: 10px 10px;
    font-size: 14px;
    margin: 0 10px 8px 10px;
    vertical-align: top;
    outline: 0;
    box-shadow: none;
    border-radius: 6px;
    border: 1px solid #E1E1E1;
    background: #fff;
    color: #222;
    box-sizing: content-box;
    word-break: break-all;
/*    overflow: hidden;*/
}

@media (prefers-color-scheme: dark) {
    /* Dark Mode styles go here. */
}
